<!DOCTYPE html>
<html>
<head>
    <title>KNOW YOUR PROFESSOR</title>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/js/jQuery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/utility.js"></script>
</head>

<body>
Hiiiiiiiiiiiiiiii
</body>